@model DigitalentCoreApp.Domain.DbEntities.Consultant

@{
    ViewData["Title"] = "Details";
}

<section>
    <h2>Details</h2>
    <h4>Consultant</h4>
    <div class="container">
        <div class="row">
       
            <hr />

            <div class="col-md-12">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Photo) ID
                    </dt>
                    <dd>
                        @Model.Photo.ID 
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.BirthDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.BirthDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Phone)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Adress)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Adress)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ZipCode)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ZipCode)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Assignments)
                    </dt>
                    <dd>
                        <table class="table">
                            <tr>
                                <th>Project name</th>
                                <th>Assignment Type</th>
                                <th>Assignment date</th>
                                <th>Startdate</th>
                            </tr>
                            @foreach (var item in Model.Assignments)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Project.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AssignmentType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AssignmentDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Project.StartDate)
                                    </td>
                                </tr>
                            }
                        </table>
                    </dd>
                    <dt>
                        Skills
                    </dt>
                    <dd>
                        <table class="table">
                            <tr>
                                <th>Skill name</th>
                                <th>Skill level</th>
                            </tr>
                            @foreach (var item in Model.ConsultantSkills)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Skill.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SkillLevel)
                                    </td>
                                </tr>
                            }
                        </table>
                    </dd>
                </dl>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</section>
